***AUDIO TAPE FOUND***
***CONNECTION FOUND***
*Play The Audio*
---------------------------------------------------
---------------------------------------------------
Hello Everyone. I'm Amoranto. I'm Still Even Exist All these Months of My Pains of Suffering Along With The Misery of Suffocating 
Over The Past 5 Years Throughtout of 2020 to '25. I have Been Suffering Too Much. I Can't Even Burying All The Pains I Brought.
**Next Audio**
---------------------------------------------------
---------------------------------------------------
My Parents is no fun. and School always bringing up those The Pains and Endlessly Tired of Contstanly of Homework and Performance Task And
Let Me One Huge Clear is. "Let Me. Rest." I just wanna really rest from all the pains and suffering over all these years and I don't Even
Realiza Life Would Be Much Easier? Right? It Just casually Plain Wrong. So Many Many Wrongs Levels Could Cause A Way So Much Suffering.
**Next Audio**
---------------------------------------------------
---------------------------------------------------
1.School
-The Reason Why School and The Main System of School is just Sucks and Worst In Different Way. Really Bored,as Usual Class Days,Exams.
-Nothing New Going on (Amoranto Notes:Can We have FUn For a While?) 
2.Parents
-Oh Boy... This is gonna be Long One. My Parents are literally strict (also can be stricter sometimes if Not sure) And Literally Parents is a Pain
of Our Back. Even I'm Literally Helping to Fix The Room (LIKE SERIOUSLY?! IM NOT SOME PERSONAL MAID OR SMTH) and My Parents won't single care of a
Rest. My Parents want me to successful child but i already tried. everytime we gotta deal with Homeworks and performance task and stressful performance task
PLEASE... LET ME FREAKING REST FOR GOOD...
3.Depression + Mental Health 
-My Mental Health is on Hella of Critical Low and Very Tired From The Pains of Suffering along With My Parents,School Stuffs,Travels,My Backs is killing me
-Depression too much. i cant even deal with the grief and painful mistakes to cause my parents very angry at me... and scolded me too much felt im having too much depression of suffering
-I can't Take This Any longer... 
**Next Audio**
---------------------------------------------------
---------------------------------------------------
Life Update As of Near End of September:
"It's Still miserable of suffocating of my long terms depression will never expired and still tired as hell. My Life is on full of toxicity and negative of my parents causing
too much problem... and out of control of my tantrums at my parents and Still Hell of Headache... and i just really want to rest from everything like what i said
i can't... i had to complete my studies and not get a single job until i had to finally rest all the pains of the years of misery of hell of depression and lifted off my shoulder.
rest thats all what i need... end of update of my life update in september"
**Next Audio**
---------------------------------------------------
---------------------------------------------------
"That's All I gotta say... Thank you of Your Understanding of My Suffering Journey After All these 5 Years...
"Remember. Don't Follow to My Path or Else You will be the same fate as mine i am... I warm You."
"Thats All. Thank You to Listening to My Life Update Audio (via Github)"
"Stay Remember. Eat and Drink Your Favorite Snacks,Focus on Mental Health,Importantly Don't Follow My path."
"Have a Good Day,Afternoon,Evening."
Sincerely Yours Truly.
                      -Amoranto
**CONNECTION LOST**
